<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Форма товара</title>
</head>
<body>
<h1>Добавить или отредактировать товар</h1>

<form th:action="@{/save}" method="post">

  <input type="hidden" name="id" th:value="${product?.id}" />

  <label>Название:</label><br>
  <input type="text" name="name" th:value="${product?.name}" required /><br><br>

  <label>Цена:</label><br>

  <input type="number" name="price" th:value="${product?.price}" step="1" required /><br><br>

  <label>Описание:</label><br>
  <textarea name="description" th:text="${product?.description}"></textarea><br><br>


  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

  <button type="submit">Сохранить</button>
</form>

<br>
<a th:href="@{/shop}">Назад в магазин</a>
</body>
</html>

