<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Товар</title>
</head>
<body>
<h2 th:text="${product.id} != null ? 'Редактировать товар' : 'Новый товар'">Товар</h2>

<form th:action="@{/save}" method="post" th:object="${product}">
  <input type="hidden" th:field="*{id}" />
  <div>
    <label>Название:</label>
    <input th:field="*{name}" required/>
  </div>
  <div>
    <label>Цена:</label>
    <input type="number" th:field="*{price}" required/>
  </div>
  <div>
    <label>Описание:</label>
    <input th:field="*{description}" />
  </div>
  <button type="submit">Сохранить</button>
  <a href="/shop">Назад</a>
</form>
</body>
</html>
